<html>
<body>

{{#name}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<form action="/createMessage" method="post">
    <input type="text" placeholder="Enter a message" name="messageLine">
    <button type="submit">Submit</button>
</form>

<form action="/deleteMessage" method="post">
    <input type="text" placeholder="Message #" name="deleteNumLine">
    <button type="submit">Delete</button>
</form>


Messages by: {{name}}<br>

<ol>
    {{#messages}}
    <li>
        {{line}}
    </li>
    {{/messages}}
</ol>

</body>
</html>
{{/name}}

{{^name}}
<a href="/login">Login</a>
{{/name}}
<br><br>

